header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 520px;
  width: 100vw;
  padding-top: 120px;
  background-color: #161616;
  font-size: 1.5em;
  color: #ecdbba;
}

.profile-picture img {
  max-width: 7.2em;
}

@media all and (min-width: 875px) {
  header {
    padding: 6em 2em 1.5em 1.5em;
    background-color: #d89216;
    width: auto;
    font-size: 1.5em;
    color: #161616;
  }
}
