nav {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  align-items: flex-end;
}

.nav-title {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
}

.nav-arrow-down {
  color: red;
}
