nav {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100vw;
  background-color: #161616;
  color: #ecdbba;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  align-items: flex-end;
}

.nav-title {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  cursor: pointer;
}

span a {
  color: inherit;
  text-decoration: inherit;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.nav-arrow-down {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: #ecdbba;
}
.nav-arrow-down:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}
