.post-tweet-form {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

textarea {
  background-color: #d89216;
  border-color: #d89216;
  border-bottom: #161616 solid 0.2em;
  resize: none;
  font-weight: 600;
  font-size: 1em;
  outline: 0px;
  margin-top: 1em;
  height: 5em;
}

.tweet-character-tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em;
  font-family: 'Bungee', cursive;
  font-size: 0.8em;
  color: #161616;
}

.text-title {
  display: flex;
  font-weight: 600;
}

.submit-button {
  background-color: #161616;
  color: #ecdbba;
  padding-top: 0.3em;
  cursor: pointer;
}

.new-tweet-alert {
  display: none;
  text-align: center;
  background-color: red;
  padding: 0.3em;
  color: white;
  font-weight: 600;
}
