.tweet-feed {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  border: 0.2em solid #161616;
  background-color: #ecdbba;
  margin-top: 1.5em;
  padding: 1em 1em 0em 1em;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-avatar {
  display: flex;
  padding-right: 0.5em;
}

.user-tweet {
  display: flex;
  border-bottom: #000000 solid 0.2em;
  font-weight: 600;
  padding: 1em;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75em;
  padding: 0em 1em 1em 0em;
}

.tweet-feed i:hover {
  color: violet;
  cursor: pointer;
}

.tweet-feed:hover {
  box-shadow: 0.5em 0.5em #161616;
}

.loading-gif {
  max-width: 500px;
  width: fit-content;
  margin: 1em auto;
  display: none;
}

.loading-gif img {
  width: 100%;
}